:root{
  --mainTan:#9E936C;
  --lightTan:#DAD2BC;
  --mainWhite:#F5F1ED;
  --mainDark:#252323;
  --mainYellow:#ffa400
}

body{
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.title{
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.mainText{
  color: var(--mainTan);

}
.brightText{
  color: var(--lightTan);

}
